@charset "utf-8";
/* CSS Document */

@font-face {
font-family:"Roboto";
src:url('roboto.ttf') format("truetype");
}
html,body{height:100%; width:100%; font-family:"Roboto"; line-height:20px;} 
.clearFix{clear:both;}
.wrapper{width:1024px; margin:0px auto 20px auto; border:1px solid #DDDDDD; min-height:200px; border-radius:5px; padding:30px; box-shadow:0 0 5px 0px #DDD; background:#FFF;}


/*		Chat APPlication		*/

.header{width:80%; margin:0px auto; padding:25px 0px;}
.chatintro{position:absolute; background:#3399FF; width:1024px; border-radius:4px;}
.chatintro .userInfo{ height:200px; width:300px; margin:150px auto; background:#FFF; border-radius:4px; box-shadow:0 0 200px 30px #CCC; border:1px solid #666666;}
.listing{height:300px; border:1px solid #CCC; border-radius:5px; margin:0 0 20px 0;}
.chatbar{margin:0 0 20px 0;}
.hugeText{height:50px!important; width:99%!important;}

.inputBoxLarge{margin:0 0 20px 0px; padding:10px!important;}
#chatlist{list-style:none; margin:0px; padding:0px;}
#chatlist li{padding:10px 5px; font-size:12px;}
#chatlist li:nth-child(2n+1){background:#F3F3F3; color:#666666; border-bottom:1px solid #CCC; border-top:1px solid #CCC; border-right:1px solid #FF9900;}

.listing{overflow:auto;}